include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  body
    .wrapper
     
      .maincontent
        section.hero_block#yak0
          .parallax
            .parallax_layer(data-speed="0.1")
              img(src=require("./images/content/parallax/p1.png")).parallax_image
            .parallax_layer(data-speed="0.25")
              img(src=require("./images/content/parallax/p2.png")).parallax_image
            .parallax_layer(data-speed="0.40")
              img(src=require("./images/content/parallax/p3.png")).parallax_image
            .parallax_layer(data-speed="0.50")
              img(src=require("./images/content/parallax/p4.png")).parallax_image
          
          .menu
            .logo
              .logo_title ША
            .menu_nav
              ul.menu_list
                - var array_menu = ['Главная','Обо мне','Навыки','Работы','Отзывы','Связаться ']
                - for(var i = 0; i < array_menu.length; i++)
                  li.meni_item
                    a(href=`#yak${i}`).menu_link= array_menu[i]
            .social
              .social_in
                ul.social_icons
                  - var array_icons = ['insta','vk','github']
                  - for(var i = 0; i < array_icons.length; i++)
                    li.social_item
                      div(class=array_icons[i])
                        a(href="#").social_link
                        //- +icon(array_icons[i], social_ico)
            .burger_menu 
              span
              span
              span            
          .container
            .center_content
              .content_text
                .mini
                  span Личный сайт
                  span веб разработчика
                .text_in
                  span Шахмир
                  span Ахмедилов
          .scroll
            button.scroll_in
              .scroll_text Скролл
              .scroll_ico
        section.user_information_block#yak1
          .container
            .block_user
              .block_left
                .left_avatar
                  .avatar
                    +image('content/user.jpg', 'user_pic')
                .left_info
                  - var array_ask = ['Проживаю:','Возраст:','Родился:']
                  - var array_text = [' Санкт-Петербург',' 22 лет',' 07 Июля 1996']
                  - for(var i = 0; i < array_ask.length; i++)
                    .info
                      span.one= array_ask[i]
                      span.two= array_text[i]
              .block_right
                .right_welcome
                  span Привет, меня зовут
                  h1 Шахмир Ахмедилов
                  span Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .right_text
                  span.star *
                  span Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        section.skills_block#yak2
          .img_klava
            .klava
          .container
            .skill_info
              .skill_text
                h2 Чем я могу быть полезен вам
                span Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
              .skill_data
                #skills-comp
        section.myworks_block#yak3
          .container
            .my_work
              .title
                h2 Мои Работы
              .slaider_big_block
                #slaider-comp                   
        section.reviews_and_connection_block#rewievs
          +image('content/sheet_one.png', 'sheet_one')
          +image('content/sheet_two.png', 'sheet_two')
          +image('content/sheet_three.png', 'sheet_three')
          +image('content/sheet_four.png', 'sheet_four')
          .container#yak4
            .reviews_call
              .reviews
                .reviews_scroll
                  h1  Что обо мне говорят
                  .scrolls
                    button.left_scroll(@click="previous()")
                    button.right_scroll(@click="next()")
                flickity(ref="flickity" :options="flickityOptions" v-if="Object.keys(rewievs).length > 0").reviews_info
                  .review.carousel-cell(v-for="rew in rewievs" :key="rew.id")
                    .review_text_one
                      span {{rew.text}}
                    .info_review
                      .review_avatar
                        .rev_user(:style="`backgroundImage : url('https://webdev-api.loftschool.com/${rew.photo}')`")
                      .review_text
                        h3 {{rew.author}}
                        span {{rew.occ}}
              .call#yak5
                .title Связаться со мной
                form.form
                  .name_email
                    .name
                      label.label
                        .text_in Введите ваше имя
                        .label_in
                          +icon('user', 'user_input')
                          .input
                            input(name="name" type="name" class="name_input" placeholder="Шахмир Ахмедилов" required)
                            .error
                    .email
                      label.label
                        .text_in Введите ваш email
                        .label_in
                          +icon('envelope', 'envelope')
                          .input
                            input(name="email" type="email" class="email_input" placeholder="shax@gmail.com" required)
                            .error
                  .text
                    .texta
                      label.label
                        .text_in Сообщение к письму
                        .label_in
                          +icon('message', 'message')
                          .input
                            textarea(name="text" type="text" class="text_input" placeholder="Требуется ваша помощь в создании сайта!" required).textarea
                            .error
                  .button
                    button.btn Отправить
                  //- template(lang="pug")
                    //-   progress-button(name="fillColor" class="btn btn-primary mr-1 mb-1" fill-color="#fff") Прогресс
        footer.footer
          .container
            .foot
              .foot_logo
                .foot_year &copy; 2019
                .foot_name
                  span.name Шахмир Ахмедилов
                  span Личный сайт веб разработчика
              .foot_nav
                .foot_menu
                  ul.menu_list
                    - var array_menu = ['Главная','Обо мне','Навыки','Работы','Отзывы','Связаться ']
                    - for(var i = 0; i < array_menu.length; i++)
                      li.meni_item
                        a(href=`#yak${i}`).menu_link= array_menu[i]
                .more_info
                  .social_info
                    .info Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                    .social_in
                      ul.social_icons
                        - var array_icons = ['insta','vk','github']
                        - for(var i = 0; i < array_icons.length; i++)
                          li.social_item
                            .round
                              div(class=array_icons[i])
                                a(href="#").social_link
                  .quore
                    span.text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    span.name Martin Golding    
      .open_menu
        .right_open_menu
          .open_menu_and_social
            +image('content/x.png', 'iks')
            ul.open_menu_list
              - var links = ['Главная','Обо мне','Навык','Работы','Отзывы','Связатся']
              - for(var i = 0; i < links.length; i++)
                li.open_menu_item
                  a(href=`#yak${i}`).open_menu_link= links[i]  
            ul.open_social_list
              - var array_icons = ['insta_open','vk_open','github_open']
                - for(var i = 0; i < array_icons.length; i++)
                  li.open_social_item
                    div(class=array_icons[i])
                      a(href="#").open_social_link
    .scrooll_bar
      template(lang="pug")
        vue-scroll-progress-bar(@complete="handleComplete"  style="z-index: 9999;")
    .windows_form_call
      .win
        .win_text Сообщение отправлено
        button.win_button  Закрыть                  
    include ./temp/temp.pug